<header class="header-container">
    <div class="header-content">
        <div class="logo-section">
            <div class="logo-placeholder"><a href="#" routerLink="/"><img src="assets/images/logo.png" alt="Logo"
                        class="logo" /></a></div>
        </div>
        <div class="center-section">
            <h1 class="main-title">Encontre o artista perfeito para o seu evento</h1>
            <p class="sub-title">Musicos e bandas em qualquer lugar do Brasil</p>
        </div>
        <div class="actions-section"><button class="btn btn-primary" routerLink="/cadastro-artista">CADASTRO
                ARTISTAS</button><button class="btn btn-outline" routerLink="/encontrar-artista">ENCONTRAR
                ARTISTA</button><a href="#" class="nav-link">COMO FUNCIONA</a></div>
    </div>
</header>