<div class="carrossel-wrapper">
  <div class="carrossel-container">
    <div class="carrossel-slide" *ngFor="let img of imagens; let i = index" [class.active]="i === currentIndex">
      <img [src]="img" alt="Anúncio {{ i + 1 }}" />
    </div>
    <button class="carrossel-btn carrossel-prev" (click)="prev()">❮</button>
    <button class="carrossel-btn carrossel-next" (click)="next()">❯</button>
  </div>
  <div class="carrossel-indicadores">
    <span *ngFor="let img of imagens; let i = index" class="indicador" [class.active]="i === currentIndex" (click)="goTo(i)"></span>
  </div>
</div>